.winter_button {
	left:0;
	background:lightblue;
}
.spring_button {
	left:20px;
	background: #fad;
}

.summer_button {
	left:40px;
	background: #9e9;
}

.autumn_button {
	left:60px;
	background: #ff0;
}


/* backgrounds */
html {background: url(pics/fn3.jpg) fixed; background-size:cover;}
.wrapper {background: #eef}
.wrapper {background: linear-gradient(to right,rgba(255,255,255,0.6),#ddd)}
footer {background: #ccc}



/* colors */

header {color: #370}
.bubble, .bubble_anketa {color: #492;}
a {color: #352}
.content h1 {color: #8b7}


.wrapper, footer {
	box-shadow: inset 0px 0px 20px rgba(150,150,100,1);}

.academic_subjects a, .bubble, .bubble_anketa {
	box-shadow: inset 0px 0px 20px rgba(150,150,100,0.4)}

.plus {fill: #9b8}
