*{margin:0; padding:0}

@font-face{font-family:my_font;src:url(oBdcd9Oi.ttf)}
@font-face{font-family:my1_font;src:url(oPOIuAtF.otf)}

html{background:#b82}
html, body{height:100%}

.wrapper{
	min-height: 100%; 
	}

body:before {
	content:"Народ Мой, что сделал Я тебе? Ответь Мне!";
	display:inline-block;
	
	width:500px;
	
	
	padding-left:50px;
	padding-right:100px;
	padding-top:450px;
	font:80px my_font;
	color:white;
	text-shadow:1px -1px 5px yellow, 2px -3px 6px gold, 3px -5px 7px red;
	border:1px solid;
	background: black url(pics/stigmaty1.jpg) no-repeat;
	
	padding-right:5000px;
	margin-right: -5000px;
	}



a{color:#777; text-decoration:none;}

.content{ width:60%; margin-left:10%; color:black }
.content a{color:black; text-decoration:underline}
h1{margin: 20px 0}
.syll{display:block}

a:hover{color:#ddd; text-decoration:underline}

svg{
	width:31px;
	height:31px;
	transform:scale(.5);
	fill:#777;
}

svg:hover{fill:#bbb}

 footer, hr, iframe, table{display:none}


/* ------------ geometry ------------------*/

.plus, .bubble{
	position:absolute;
}

header{
	display: inline-block;
	color:transparent;
	position:relative;
	background-size:contain;
	z-index:0;
	height: 100%;
}

nav{
	
	position:relative;
	display: inline-block;
	margin-top:400px;
	margin-left:50px;
	width:500px;
	height:320px;
	background: black url(pics/logo1.png) center no-repeat;
	background-size:60%;
	border:1px solid;
	z-index:1;
}

nav:before {
	content:"Я вознёс тебя силою великою, а ты пригвоздил Меня к древу крестному.";
	position:relative;
	top:-400px;
	font:80px my_font;
	color:white;
	text-shadow:1px -1px 5px yellow, 2px -3px 6px gold, 3px -5px 7px red;
	border:1px solid;
	}


.academic_subjects a{
	position:absolute;
	width:130px;
	font:15px Arial;
	letter-spacing:1px;
	
}

.academic_subjects a:nth-of-type(4){top:0;		left:0;		width:150px;}
.academic_subjects a:nth-of-type(6){bottom:0;	left:0px;	width:150px;}
.academic_subjects a:nth-of-type(3){top:0;		left:330px}
.academic_subjects a:nth-of-type(1){bottom:0;	left:350px}
.academic_subjects a:nth-of-type(5){bottom:0;	left:180px}
.academic_subjects a:nth-of-type(2){top:0;		left:180px;	width:70px;}



nav .up  {top:-4px; right:-10px; height:31px;}
nav .down{bottom:-6px; left:-60px; transform:rotate(90deg); width:31px; height:31px;}
header .up{ padding-top:330px; padding-left:110px;height: 31px; line-height:31px;}
.bubble{bottom:0px; right:-0px; font:12px Arial; text-decoration:none;}
