@font-face{font-family:'Bikham'; src:url(Bikham3.woff)}
@font-face {font-family:'CAC'; src:url(../CACChampagne.woff)}
@font-face {font-family:'Zero'; src:url(Bradobrei.woff)}


/* ------global layot -----*/
*{padding:0; margin:0}
table {margin-top:450px}
iframe{display:none}

html, body {height:100%}
html {background:linear-gradient(to right,#ddc,#ffe,#ddc);}

.wrapper {
	width:950px;
	margin:0  auto;
	overflow:hidden;
	min-height:100%;
	
	background:#ffe;
	box-shadow:0 0 5px #ffe,0 0 15px #ffe,0 0 25px #ffe,0 0 35px #ffe,0 0 45px #ffe;
}

.content {
	padding:0 20px 50px;
}



/* ---- header ------------- */
header {
	position:relative;
	z-index:5;
	background: url(straus4.png) 105% 0 no-repeat ;
	background-size: 210px;
	height:165px;
}

body:before {
	content:" ";
	display:block;
	position:absolute;
	width: 100%;
	height:165px;
	z-index:4;
	background:  linear-gradient(to right,#ccb,#ffe,#ccb);
	
	box-shadow: inset 0 0 20px #777;
}

header h1 {
	height:40px;		/* завязано на шрифт 36px!  */
	padding:10px 195px 10px;
	color:#777;
	font: bold 36px Zero;
}

header a.bubble {
	position:relative;
	display:inline-block;
	width:40px;
	height:40px;
	border-radius:35px;
	
	margin:10px 10px 0;
	box-shadow: inset 0 0 10px #998, -5px 5px 7px #999;
	font:15px Sans;
		text-align:center;
	letter-spacing:-2px;
	background:#ffe;
	
	/*color:white;*/
	text-shadow:0 0 2px #998;
	color:#999;
	text-decoration:none;
	transition: all 1s;
}

header a.bubble:hover {
	color:#333;
	box-shadow:inset 0 0 10px #000;
}

header a.bubble:first-letter {
	font:bold 17px/40px Sans;
}


header a.bubble:hover:after {
	position:absolute;
	top:50px;
	left:0px;
	display:block;
	padding:20px;
	box-shadow:-10px 10px 15px #777, inset 0 0 17px #bba;
	letter-spacing:2px;
	
	border-radius:17px;
	color:#555;
	background:#fff;
	font: 27px Sans;
}

header a[href='verstka.html'].bubble:hover::after {content:'Верстка';}
header a[href='tipogra.html'].bubble:hover::after {content:'Типографика';}
header a[href='infogra.html'].bubble:hover::after {content:'Инфографика';}
header a[href='compgra.html'].bubble:hover::after {content:'Комп.графика';}
header a[href='coloris.html'].bubble:hover::after {content:'Колористика';}
header a[href='inspire.html'].bubble:hover::after {content:'Вдохновение';}
header a[href='secrets.html'].bubble:hover::after {content:'Посторонним В.';}
header a[href='history.html'].bubble:hover::after {content:'История Д.';}


header a.design_page {
	display:inline-block;
	
	margin-right:30px;
	margin-left:20px;
	
	color:#776;
	text-decoration:none;
	font:50px/70px Bikham;
	vertical-align:-10px;
	}

header a.design_page:hover:after {
	position:absolute;
	top:70px;
	left:20px;
	display:block;
	padding:20px;
	box-shadow:-10px 10px 15px #777, inset 0 0 17px #bba;
	letter-spacing:2px;
	
	border-radius:17px;
	color:#555;
	background:#fff;
	font: 27px Sans;
}

header a[href='index.html'].design_page:hover::after {content:'Дизайн - главная страница';}

nav {padding-left:196px;}
	
nav a {
	padding-right:20px;
	color: #777;
	}

nav a:hover,
a.design_page:hover {
	color: #333;
	}


/* ------ content ------ */


.content {
	line-height: 40px;
	font-family: Sans;
	color:#777;
	}

.h2_picture {
	float:left;
	margin-right:100px;
	margin-top:-30px;
	width:150px;
}

.li_picture {
	float:right;
	margin-left:50px;
}

.content h1,
.content h2 {
	margin-top: 50px;
	}

.content h3 {
	margin-top: 30px;
	}


/* ------ footer ------ */

.spacer {height: 130px}

footer {
	height: 130px;
	margin-top:-130px;
	text-align: center;
	color: #fff;
	background:#999;
	}

footer a {
	display:inline-block;
	width:50%;
	
	float:left;
	font:bold 40px/100px Sans;
	color:white;
	text-decoration:none;
	text-shadow: 0 0 5px #555, 0 -3px 10px #777;
	}
footer a:first-child {
	background:lightgreen;
	box-shadow: inset 5px 0 20px #777;
 }	
footer a:last-child {
	background:#ffcc66;
	box-shadow: inset -5px 0 20px #777;
 }	
footer a:hover {	
	background:#c9f;
	}

/* ------ some other ------ */

iframe {margin:40px}

i {
	font-family:Serif;
	font-size:1.2em;
	}

.citata_dnya li{padding-top:50px}
li {
	margin-left:25px;
	margin-top:20px;
	}

li li {margin-left:45px;}

.more_news {color:#c30; font: bold 20px Arial}

