/* ------global layot -----*/
*{padding:0; margin:0}
table{margin-top:450px}
iframe{display:none}

.header{
	width:950px;
	margin:20px auto 0 auto ;
	border-radius:19px 19px 0 0;
	padding: 40px 0 20px;
}

.wrapper{
	width:850px;				/* <-- it`s the weidth of the header minus paddings    */
	margin:0px auto ;
	height:3803px;	/* <-- 3303 it`s the height of the backgr. picture minus paddings  + 2000 for background ))  */
	border-radius:0 0 20px 20px;
	padding:20px 50px;
}

/* ----- decorations ---------*/
html{background:url(pics/body2.jpg) fixed} 

@font-face{font-family:'Zero'; src:url(zero1.otf)}

.header{
	background:linear-gradient(to bottom,yellow,lightgray);
	box-shadow: inset 0px 3px 10px #555;
	color:white;
	text-shadow: 0 0 1px #eee, 0 -2px 4px  #ff3, 2px -4px 6px  #fd3, -2px -6px 11px  #f80, 2px -8px 18px  #f20, 0 2px 3px grey;
}

.wrapper{
	background:
			url(pics/body00.png) no-repeat,
			url(pics/body3.png) left 0 top 2000px no-repeat,
			linear-gradient(to right,rgba(255,255,255,0.93),#ddd);
	box-shadow: inset  0 -10px 20px #555;
	color:#555;
}

h1{text-align:center;	font: bold 36px Zero;}

h2{	 font: bold 25px Zero; }

h1, h2{padding: 25px 0; color:white; text-shadow: 0 -2px 1px #fb3, 0 2px 3px #666;}

ol{padding-left:40px; 
	letter-spacing:3px;
}

ol a{letter-spacing: normal}		/* reset of previous style, it`s not good ( */

li{padding: 10px ; 
	font: 15px Arial;
}

p{padding:10px}

a{color:#c50}


.asterisk:after{
	content:'*';
	font: bold 16px Sans;
	color:black}
	

/* --------navigation block-------- */
.nav{text-align:center; 
	margin-bottom:40px;
}

.nav li{display:inline-block;
	border:1px solid #ddd;
	border-radius:4px;
	margin:0 10px;
	padding: 0px 20px 0px 20px;
	background:linear-gradient(to bottom,white,lightgray);
	box-shadow: 0 0 7px #bbb;
}
	
.nav li a{text-decoration:none; 
	font:bold 20px Arial;
	color:#eee;
	text-shadow:0px 0px 7px #999;
}
            
/* --------- style1 compatibility ---------*/

.pseudo_label_bottom, input{display:none}

